
@model List<Item>

<h1>Wishlist</h1>
<a asp-action="create">Add item</a>
<uL>
    @foreach (var item in Model)
    {
        <li>@item.Description</li>
        <a asp-action="delete" asp-route-id="@item.Id">delete</a>
    }
</uL>
